extends ../layout

block content

    h4 Cadastro de Restaurante
    if messages.info
        div(class="alert alert-success")
            b #{messages.info}
    if messages.erro
        div(class="alert alert-danger")
            b #{messages.erro}
    br
    br
    form(method="POST", action="/restaurantes/novo")
        input(class="form-control", name="nome" placeholder="Informe o nome do Restaurante")
        br
        button(class="btn btn-success", type="submit") Salvar