extends layout

block content
  img(class="img-responsive", style="margin-top: 50px; margin-left: 300px" src="http://culinaria.culturamix.com/blog/wp-content/gallery/como-fazer-pratos-de-restaurante-5/Como-Fazer-Pratos-de-Restaurante-13.jpg")
  h2(style="text-align: center") Sistema de Cadastro de Restaurantes 